

<div class="row" style="margin-top:100px">
  <div class="col-md-9">
    <h1>PICSGRAM</h1>
  </div>
  <div class="col-md-3">
    <div class="panel panel-body panel-default">

        <h2 class="text-center">Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control form-p"%>
          </div>

          <div class="field form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control form-p" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions form-group">
            <%= f.submit "Log in", class: "btn btn-purple btn-block "  %>
          </div>
        <% end %>
              <p class="text-center">
                <%= link_to "Forgot your password?", new_password_path(resource_name)%>

              </p>

    </div>

    <div class="panel panel-body panel-default">
      <%= link_to "    Create Account", new_registration_path(resource_name) ,  class: "btn btn-info fa fa-user-plus btn-block "%><br />
          </div>


  </div>
</div>
