<!DOCTYPE html>
<html>
  <head>
    <title>Picsgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'layouts/navbar' %>

    <div class="container">
      <%= yield %>
     </div>
    
    <script>
               //First upload
               var firstUpload = new FileUploadWithPreview('myFirstImage')
               var firstUploadInfoButton = document.querySelector('.upload-info-button--first');
               firstUploadInfoButton.addEventListener('click', function(){
                   console.log('First upload:', firstUpload, firstUpload.cachedFileArray);
               })


           </script>

  </body>
</html>
